<template>
  <div>
    <h2 class="list-title">
      <router-link :to="{ name: 'category', params: { id: category['.key'] } }">
        {{ category.name }}
      </router-link>
    </h2>
    <ForumList
      v-for="forum in categoryForums(category.forums)"
      :key="forum['.key']"
      :forum="forum"
    />
  </div>
</template>
<script>
import sourceData from "@/data";
import ForumList from "./ForumList";
export default {
  components: { ForumList },
  props: {
    category: {
      required: true,
      type: Object,
    },
  },
  methods: {
    categoryForums(param) {
      let result = Object.values(sourceData.forums).filter((e) =>
        Object.values(param).includes(e[".key"])
      );
      return result;
    },
  },
};
</script>
