<template>
  <div class="forum-list">
    <ForumListItem :forum="forum" />
  </div>
</template>
<script>
import ForumListItem from "./ForumListItem";
export default {
  components: { ForumListItem },
  props: {
    forum: { required: true, type: Object },
  },
};
</script>
