<template>
  <form @submit.prevent="savePost()">
    <div class="form-group">
      <textarea
        name=""
        id=""
        cols="30"
        rows="10"
        class="form-input"
        v-model="newPostText"
      ></textarea>
    </div>
    <div class="form-actions">
      <button class="btn-blue">Submit Post</button>
    </div>
  </form>
</template>
<script>
export default {
  props: {
    threadId: {
      required: true,
      type: String,
    },
  },
  data() {
    return {
      newPostText: "",
    };
  },
  methods: {
    savePost() {
      const postId = "greatPost" + Math.random();
      const post = {
        text: this.newPostText,
        publishedAt: Math.floor(Date.now() / 1000),
        threadId: this.threadId,
        userId: "ALXhxjwgY9PinwNGHpfai6OWyDu2",
        ".key": postId,
      };
      this.$emit("save", post);
      this.newPostText = "";
    },
  },
};
</script>
