<template>
  <div class="thread-list text-left">
    <h2 class="list-title">Threads</h2>

    <ThreadListItem
      :thread="thread"
      v-for="thread in threads"
      :key="thread.id"
    />
  </div>
</template>
<script>
import ThreadListItem from "@/components/ThreadListItem";
export default {
  props: { threads: { required: true, type: Array } },
  components: { ThreadListItem },
};
</script>
