<template>
  <div class="col-full">
    <h1>Page Not Found</h1>
    <h2>
      The page you look for doens't exist, go
      <router-link :to="{ name: 'Home' }">home</router-link>
    </h2>
  </div>
</template>
