<template>
  <div>
    <div class="container">
      <div class="col-large push-top text-left">
        <h1>{{ thread.title }}</h1>
        <p>
          By <a href="#" class="link-unstyled">Robin</a>,
          <AppDate :timestamp="thread.publishedAt" />
          <span
            style="float: right; margin-top: 2px;"
            class="hide-mobile text-faded text-small"
            >3 replies by 3 contributors</span
          >
        </p>

        <PostList :posts="posts" />
        <PostEditor :threadId="id" @save="addPost" />
      </div>
    </div>
  </div>
</template>
<script>
import sourceData from "@/data";
import PostList from "@/components/PostList";
import PostEditor from "@/components/PostEditor";

export default {
  components: { PostList, PostEditor },
  props: {
    id: {
      required: true,
      type: String,
    },
  },
  data() {
    return {
      thread: sourceData.threads[this.id],
      users: sourceData.users,
    };
  },
  computed: {
    posts() {
      const postIds = Object.values(this.thread.posts);
      return Object.values(sourceData.posts).filter((post) =>
        postIds.includes(post[".key"])
      );
    },
  },
  methods: {
    addPost(e) {
      const postId = e[".key"];
      sourceData.posts[postId] = e;
      this.thread.posts[postId] = postId;
      sourceData.users[e.userId].posts[postId] = postId;
    },
  },
};
</script>
