<template>
  <div>
    <div class="forum-wraper">
      <div class="col-full push-top text-left">
        <div class="forum-header">
          <div class="forum-details">
            <h1>{{ forum.name }}</h1>
            <p class="text-lead">{{ forum.description }}</p>
          </div>
          <a href="new-thread.html" class="btn-green btn-small"
            >Start a thread</a
          >
        </div>
      </div>

      <div class="col-full push-top">
        <ThreadList :threads="threads" />

        <div class="pagination">
          <button class="btn-circle" disabled>
            <i class="fa fa-angle-left"></i>
          </button>
          1 of 3
          <button class="btn-circle"><i class="fa fa-angle-right"></i></button>
        </div>
      </div>
    </div>

    <div class="forum-stats desktop-only">
      <hr />
      <ul>
        <li><i class="fa fa-user-circle-o"></i>47 users online</li>
        <li><i class="fa fa-user-o"></i>497 users registered</li>
        <li><i class="fa fa-comments-o"></i>49 threads</li>
        <li><i class="fa fa-comment-o"></i>763 posts</li>
      </ul>
    </div>
  </div>
</template>

<script>
import sourceData from "@/data";
import ThreadList from "@/components/ThreadList";
export default {
  components: {
    ThreadList,
  },
  props: {
    id: {
      required: true,
      type: String,
    },
  },
  computed: {
    forum() {
      return sourceData.forums[this.id];
    },
    threads() {
      return Object.values(sourceData.threads).filter(
        (thread) => thread.forumId == this.id
      );
    },
  },
};
</script>

<style scoped>
.forum-wraper {
  width: 100%;
}
</style>
