<template>
  <div class="col-full">
    <CategoryListItem :category="category" />
  </div>
</template>
<script>
import sourceData from "@/data";
import CategoryListItem from "@/components/CategoryListItem";
export default {
  components: {
    CategoryListItem,
  },
  props: {
    id: {
      required: true,
      type: String,
    },
  },
  computed: {
    category() {
      console.log(sourceData.categories[this.id]);
      return sourceData.categories[this.id];
    },
  },
};
</script>
